<!-- 搜索客房栏目 -->
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <ui-select ng-model="checkout.selectedFloor">
          <ui-select-match placeHolder="所有楼层">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="floor in (checkout.floors | filter: $select.search) track by floor.value">
            <span ng-bind="floor.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-lg-3">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="房间号" aria-describedby="sizing-addon1" ng-model="roomNumber">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="links">
  <div class="row">
    <div class="col-md-2" ng-repeat="room in checkout.AllRooms|fuzzyBy:'number':roomNumber|filterBy:['status']:2|filterBy:['floor']:checkout.selectedFloor.value">
      <a href="{{room.l_img}}" title="{{room.title}}" data-title2="trdsdsd" data-gallery>
        <img src="{{room.s_img}}" alt="{{room.title}}" title="{{room.title}}" />
      </a>
      <div class="caption">
        <h4>
          <strong>
            <span ng-bind="room.title"></span>
          </strong>
        </h4>
      </div>
    </div>
  </div>
</div
