@import "bourbon";
.login-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 25px 25px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .form-signin-heading {
    margin-bottom: 30px;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 20px;
    @include box-sizing(border-box);
    &:focus {
      z-index: 2;
    }
  }
}
.n4-panel-status-body {
  padding-top: 1px;
  padding-bottom: 1px;
}
.login-button {
  margin-top: 20px;
}

.n4-transfer-content {
  padding: 30px;
}
